<div class="ingredient">
  <div class="form-group">
    <label for="ingredient_name_{{ section_index }}_{{ ingredient_index }}"
      >Ingredient Name {{ ingredient_index + 1}}:</label
    >
    <input
      type="text"
      class="form-control"
      id="ingredient_name_{{ section_index }}_{{ ingredient_index }}"
      name="ingredient_name_{{ section_index }}_{{ ingredient_index }}"
      required
    />
  </div>
  <div class="form-group">
    <label for="ingredient_quantity_{{ section_index }}_{{ ingredient_index }}"
      >Quantity:</label
    >
    <input
      type="text"
      class="form-control"
      id="ingredient_quantity_{{ section_index }}_{{ ingredient_index }}"
      name="ingredient_quantity_{{ section_index }}_{{ ingredient_index }}"
      required
    />
  </div>
  <div class="form-group">
    <label for="ingredient_unit_{{ section_index }}_{{ ingredient_index }}"
      >Unit:</label
    >
    <input
      type="text"
      class="form-control"
      id="ingredient_unit_{{ section_index }}_{{ ingredient_index }}"
      name="ingredient_unit_{{ section_index }}_{{ ingredient_index }}"
      required
    />
  </div>
</div>
<input
  type="hidden"
  name="ingredient_index"
  id="ingredient-index-{{ section_index }}"
  value="{{ ingredient_index + 1 }}"
/>
